{% extends 'base.html.twig' %}

{% block body %}
<div class="scoreboard-wrapper">
    <h1>Bobby's World</h1>
    <h3>CONGRATULATIONS! You made Bobby proud :)</h3>
    <a class="btn btn-sm btn-primary btn-block mt-5" href="{{ path('scoreboard') }}">SCOREBOARD</a>
</div>
{% endblock %}
